/workspace/servidor/target/
/workspace/facturacionElectronica/target/
/workspace/ws-client-iess/target/
/workspace/main/target/
/workspace/recursos/target/
/workspace/crm/target/
/workspace/coreCodefacLite/target/

#excluir arhivos de compilacion

*.class
/workspace/*.jar
/workspace/mavenCodefacLite/target/

#Configuraciones del netbeans
nbactions.xml
nb-configuration.xml
/workspace/utilidades/target/

#excluir base de datos
/workspace/main/DB/
/workspace/servidor/DB/
derby.log
/workspace/controlador/target/
/workspace/facturacion/target/
/workspace/configuraciones/target/
/workspace/ws-codefac/target/
/workspace/ws-virtualmall/target/