/workspace/servidor/target/
/workspace/facturacionElectronica/target/
/workspace/ws-client-iess/target/
/workspace/main/target/
/workspace/recursos/target/
/workspace/crm/target/
/workspace/coreCodefacLite/target/

#excluir arhivos de compilacion

Thumbs.db
*.class
/workspace/*.jar
/workspace/mavenCodefacLite/target/

#Configuraciones del netbeans
nbactions.xml
nb-configuration.xml
/workspace/utilidades/target/

#excluir base de datos
/workspace/main/DB/
#excluir archivo temporal
/workspace/main/tmp/

/workspace/servidor/DB/
derby.log
/workspace/controlador/target/
/workspace/facturacion/target/
/workspace/configuraciones/target/
/workspace/ws-codefac/target/
/workspace/ws-virtualmall/target/
/workspace/inventario/target/
/workspace/servidor-interfaz/target/

#Excluir archivo de configuracion inicial
workspace/main/codefac.ini
/workspace/gestionAcademica/target/
/workspace/compra/target/
/workspace/cartera/target/
/workspace/servicios/target/

#Excluir carpeta de logs y temporales
/workspace/main/log/
/workspace/main/tmp/
/workspace/main/codefac.jar
/workspace/main/updater.jar