/workspace/servidor/target/
/workspace/facturacionElectronica/target/
/workspace/ws-client-iess/target/
/main/target/
/workspace/resources/target/
/workspace/crm/target/
/workspace/coreCodefacLite/target/

#excluir arhivos de compilacion

*.class
*.jar